name: Deploy React App (Docker) to Azure Web App - front-caleda

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  ACR_NAME: acrInterface              # Tu Azure Container Registry
  IMAGE_NAME: front-caleda            # Nombre de la imagen Docker
  AZURE_WEBAPP_NAME: front-caleda     # Nombre de tu Web App en Azure
  RESOURCE_GROUP: rg-multi-apis       # Grupo de recursos

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Log in to Azure Container Registry
        run: az acr login --name ${{ env.ACR_NAME }}

      - name: Build Docker image
        run: |
          docker build -t ${{ env.IMAGE_NAME }} .
          docker tag ${{ env.IMAGE_NAME }} ${{ env.ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:latest

      - name: Push image to Azure Container Registry
        run: docker push ${{ env.ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:latest

      - name: Deploy to Azure Web App for Containers
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          images: ${{ env.ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}:latest
